body
{
		opacity:0.7;
		background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-color:#408080;
}
a:link, a:visited {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center; 
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: red;
}

.table
{
	//border:1px inset black;
	position:absolute;
	top:170px;
	margin-left:150px;
	background-color: #c0c0c0;
}


.title
{
//	border:1px inset black;
	width:300px;
	margin-left:550px;
	margin-top:20px;
	//padding:50px;
	color:white;
	font-size:50px;
	text-align:center;
	font-family:georgia;
	//background-color:grey;
}
.pic
{
width:150px;
height:100px;
border:1px inset black;	
}
.name
{
width:400px;
height:100px;
border:1px inset black;	
text-align:center;
font-size:40px;
color:green;
}
.amount
{
width:200px;
height:100px;
border:1px inset black;	
font-size:40px;
color:red;
text-align:center;
}
.quantity
{
width:150px;
height:100px;
text-align:center;
border:1px inset black;		
	
	
	
}
.chkbox
{
width:100px;
height:100px;
border:1px inset black;		
	
	
}
#numbox
{
height:30px;
width:70px;	
//background-color:grey;	
font-size:30px;
text-align:center;
color:green;
}
#chekbox
{
	width:30px;
height:30px;
margin-left:35px;
color:red;
}


.button
{
	display:block;
	margin-left:600px;
	
	margin-top: 995px;
	border: 1px inset #790604;
	border-radius: 10px;
	font-size:20px;
	width:150px;
	padding:10px;
	text-align:center;
	font-family:tahoma;
	color:#790604;
	
	//background-color:#808080;
	background-color:white;
	cursor: default;
	text-decoration:none;
}
